body {
  font-family: 'Droid Serif', serif;
  font-size: 14px;
  color: #2f2f2f;
  background-color: #f9f7f1;
}

main {
  margin-left: 25vw;
  margin-top: 5vh;
}

.article {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  margin-bottom: 20px;
}

.article h3 {
  font-family: 'Ramaraja', serif;
  font-weight: 900;
  text-transform: uppercase;
}

.article h5 {
  margin: 0;
}

.article img {
  height: 150px;
  width: 200px;
}

.article-info {
  height: 150px;
  display: flex;
  flex-direction: column;
}
