.search-nav{
  position: absolute;
  margin-top: 7vh;
  margin-left: 0;
  margin-right: 0;
  width: 20vw;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.search-param {
  margin-bottom: 2vh;
}
